.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.App-header {
  background-color: black;
  background-image: url('../public/images/set-free-icon-.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 37%;
  text-align: start;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header {
  padding-bottom: 10px;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background: rgb(24, 24, 24);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: black;

}
::-webkit-scrollbar-track {
  background: gray;
  border-radius: 1rem;
}
